<head>
   

</head>
    
<body>
 <nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light">
	<div class="nave-item">	
		<i class="my_margn_btw"><%=image_tag("hanger (1).png")%></i>
	</div>
      
    </nav>
</body>